<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles/question.css"/>
</head>
<body>
  <div class="container">
  <% @questions.each do |question| %>
    <h2 class="question"><%= question.question %></h2>
    <ul class="options">
      <% question.options.each do |option| %>
        <li class="option">
          <input type="radio" name="<%= "option#{question.id}" %>" id="<%= "option#{option.id}" %>" class="custom-radio">
          <label for="<%= "option#{option.id}" %>"><%= option.option %></label>
        </li>
      <% end %>
    </ul>
  <% end %>
  <div class="btn-container">
    <a href="#" class="btn">Enviar respuesta</a>
  </div>
</div>
</body>
</html>
