<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/image/icon.png"/>
  <link rel="stylesheet" href="styles/question.css"/>
  <title> ADT </title>
</head>
<body>
  <div class="container">
    <form id="questionForm" action="/questions" method="POST">
      <% @questions.each_with_index do |question, index| %>
        <div class="question" id="question<%= index %>" <%= 'style="display: none;"' if index != 0 %>>
          <h2 class="question-title"><%= "Pregunta #{index + 1}: #{question.question}" %></h2>
          <ul class="options">
            <% question.options.each do |option| %>
              <li class="option">
                <input type="radio" id="option<%= option.id %>" name="question<%= index %>" value="<%= option.id %>" onchange="seleccionarRespuesta(<%= index %>, <%= option.id %>)">
                <label for="option<%= option.id %>"><%= option.content %></label>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="btn-container">
        <button class="btn" id="nextButton" onclick="enviarFormulario()">Siguiente pregunta</button>
      </div>
      <input type="hidden" name="user_id" value="<%= session[:user_id] %>">
      <input type="hidden" name="option_id" id="option_id" value="">
    </form>
  </div>

  <script>
    var totalPreguntas = <%= @questions.length %>;
    var preguntaActual = 0;
    var respuestas = [];

    function ocultarPreguntas() {
      var preguntas = document.querySelectorAll('.question');
      preguntas.forEach(function(pregunta) {
        pregunta.style.display = 'none';
      });
    }

    function mostrarPreguntaActual() {
      var preguntaActualElemento = document.getElementById('question' + preguntaActual);
      preguntaActualElemento.style.display = 'block';
    }

    function seleccionarRespuesta(preguntaIndex, opcionId) {
      respuestas[preguntaIndex] = opcionId;

      // Resaltar la opción seleccionada
      var opciones = document.querySelectorAll('#question' + preguntaIndex + ' .option');
      opciones.forEach(function(opcion) {
        opcion.classList.remove('selected');
      });

      var opcionSeleccionada = document.querySelector('#question' + preguntaIndex + ' .option input[type="radio"]:checked + label');
      if (opcionSeleccionada) {
        opcionSeleccionada.parentNode.classList.add('selected');
      }

      // Establecer el valor de la opción seleccionada en el formulario
      var optionInput = document.getElementById('option_id');
      optionInput.value = opcionId;
    }

    function enviarFormulario() {
      // Verificar si se ha seleccionado una respuesta
      var respuestaSeleccionada = respuestas[preguntaActual];
      if (respuestaSeleccionada === undefined) {
        alert('Por favor, selecciona una respuesta antes de continuar.');
        return;
      }

      // Enviar el formulario actual
      document.getElementById('questionForm').submit();

      if (preguntaActual < totalPreguntas - 1) {
        preguntaActual++;
        ocultarPreguntas();
        mostrarPreguntaActual();
      } else {
        // Se han respondido todas las preguntas
        alert('¡Has respondido todas las preguntas!');
      }
    }

    ocultarPreguntas();
    mostrarPreguntaActual();
  </script>
</body>
</html>
