<!DOCTYPE html>
<head>
    <link rel="icon" href="/image/icon.png"/>
    <link rel="stylesheet" href="styles/store.css"/>
    <title>Tienda</title>
</head>
<body>
    <div class="header-container">
        <h1 class="animated-text">TIENDA DE CARTAS</h1>
    </div>

    <ul class="card-list">
        <% (1..13).each do |card_number| %>
            <% card_name = 
            case card_number
                when 1 then "Messi"
                when 2 then "Dibala"
                when 3 then "Romero"
                when 4 then "Martinez"
                when 5 then "Molina"
                when 6 then "Otamendi"
                when 7 then "Tagliafico"
                when 8 then "Fernandez"
                when 9 then "De Paul"
                when 10 then "Mac Allister"
                when 11 then "Di Maria"
                when 12 then "Alvarez"
                when 13 then "Scaloni"
            end
            %>
            <% card = Card.find_by(name: card_name) %>

            <li class="card-item">
                <% # Construye la ruta de la imagen de fondo de carta usando el formato "carta + número de carta" %>
                <% background_image_path = "/image/carta#{card_number}.jpg" %>
                <div class="card-image" style="background-image: url('<%= background_image_path %>');"></div>
                <strong><%= card.name %></strong> - Posición: <%= card.position %> - Precio: <%= card.price %> monedas
                <form action="/buy_card/<%= card.id %>" method="POST">
                    <input type="submit" value="Comprar">
                </form>
            </li>
        <% end %>
    </ul>

    <div class="player-stats">
        <div class="Monedas monedas-text">
            <img src="/image/moneda.png" alt="Monedas" class="stat-icon">
            <p><span class="label">Monedas $</span> <span class="data"><%= @user.coins %></span></p>
        </div>
    </div>

    <div class="button"><a href="/menu"> Volver al inicio</a></div>
</body>
</html>
